.navbar {
    display: flex;
    border-bottom: 3px solid rgb(40, 40, 82);
    margin-bottom: 10 px;
    justify-content: space-evenly;
    width: 100%;
}

.botones {
    flex-direction: column;
}

#logo {
    height: 800px;
    width: auto;
}

.caratula img {
    width: 100%;
}

.boton {
    background-color: rgb(40, 40, 82);
    margin: 15px;
    border: 2px rgb(40, 40, 82);
    border-radius: 10px;
    height: 70px;
    width: 150px;
    font-size: 25px;
    text-align: center;
}


.navbar-nav:hover {
    font-weight: bold;

}